

html,

body {

    width: 100%;

    height: 100%;

    color:white;

}

.text-vertical-center {

  position:relative;

  top:150px;

  text-align: center;

  vertical-align: middle;

}

.text-vertical-center h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.btn-dark {
  color: #fff;
  border: none;
  border-radius: 0;
  background-color: rgba(0, 0, 0, .4);
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
  color: #fff;
  background-color: rgba(0, 0, 0, .7);

}
.btn-light {

  color: #333;

  border: none;

  border-radius: 0;

  background-color: rgb(255, 255, 255);

}

.btn-light:hover, .btn-light:focus, .btn-light:active {

  color: #333;

  background-color: rgba(255, 255, 255, .8);

}

hr.small {

  max-width: 100px;

}

#menu-toggle {

  position: fixed;

  z-index: 1;

  top: 0;

  right: 0;

}
.toggle {
  font-size: 1em;
  margin: 5px 5px 0 0;
  padding: 15px 20px;
}





/* Header */



.header {

  position: relative;

  display: table;

  width: 100%;

  height: 100%;

     background: url(../images/majo-villalon-412447.jpg) no-repeat center center ;

  -webkit-background-size: cover;

  -moz-background-size: cover;

  -o-background-size: cover;

  background-size: cover;

}





/* About */



.about {

  padding: 50px 0;

}





/* Services */



.services {

  padding: 50px 0;

}



.service-item {

  margin-bottom: 30px;

}





/* Callout */

.backgroundImage{
  height: auto;
  width: 100%;
}

.callout {

  display: table;

  width: 100%;

  height: 400px;

  color: #fff;

  /* background: url(../img/callout.jpg) no-repeat center center scroll; */

  -webkit-background-size: cover;

  -moz-background-size: cover;

  -o-background-size: cover;

  background-size: cover;

}




/* Portfolio */



.portfolio {
 background:#008Ca0;
  padding: 50px 0;

}



.portfolio-item {
  position: relative;
 width:100%;
  height:100%;
  margin-bottom: 30px;

}
.portfolio-item .caption{
  padding:50px;
  position: absolute;
  background: #000;
  left:20px;
  right:20px;
  bottom:20px;
  color:#fff;
  opacity:0;
  transition:.5s;
  transform: translateY(20px);
}
.portfolio-item:hover .caption{

  opacity:.9;
  transform: translateY(0px);
}


.img-portfolio {

  margin: 0 auto;

}



.img-portfolio:hover {

  opacity: .8;

}







/* Footer */



footer {

  padding: 100px 0;

}



#to-top {

  font-size: 1em;

  position: fixed;

  right: 5px;

  bottom: 5px;

  display: none;

  padding: 15px 20px;

}

@media screen and (max-width: 800px) {

  .text-vertical-center {
    clear:both;
    min-width: 220px;
    margin: auto;


  }


  .backgroundImage{
    height: auto;
    width: 100%;
  }
}